*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	user-select: none;
}

body{
	background:#212121;
	color: white;
}



.logo{
  background: linear-gradient(to right, #49a3cf, #0988c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.header{
	background: #3d3d3d;
	display: flex;
	justify-content: space-between;
	padding:1rem;
	align-items:center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.ccgen-btn{
	color:#ffffff;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
}

.ccgen-btn:hover{
	color:#e7e7e7;
}

.mail-btn{
	color:#ffffff;
	background: #0699e2;
	text-decoration:none;
	font-weight: 600;
	padding: 0.6rem;
	border-radius: 0.3rem;
	margin-left: 0.5rem;
	transition: 0.3s;
}

.mail-btn:hover{
	background: #008cd1;
}

.mail-btn:active{
	font-size: 1.1rem;
	margin-left:0rem;
}

.informacion{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.informacion h1{
	font-size: 4rem;
	margin-top: 4rem;
}

.informacion p{
	margin-bottom: 2rem;
}

.menu-btn a{
	padding: 0.6rem 1rem;
	text-decoration: none;
	color:#ffffff;
	border:3px solid #0699e2;
	border-radius: 1rem;
	font-weight: 500;
	transition: 0.3s;
}

.menu-btn a:hover{
	background: #373737;
}

@media (max-width: 600px) {



  .logo{
  	margin: 1rem;
  	font-size: 1.7rem;
  }

  .mail-btn{
  	margin:0.5rem;
  }

  .mail-btn:hover{
  	background: #008cd1;
  }

  .mail-btn:active{
  	font-size: inherit;
  	margin-left: 0.5rem;
}

.informacion{
	font-size: 90%;
}

.informacion h1{
	font-size: 1.8rem;
	margin-top: 0rem;
}

  .header{
  	flex-direction: column;
  	align-items: center;
  	padding:1rem;
  	padding-bottom: 2rem;
  	margin-bottom: 2rem;
  }
}